.PersonView {
	background-color: #808080;
	padding: 20px;
	border-radius: 5px;
	text-align: left;
}

.PersonView h1 {
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.2;
	text-align: left;
	margin-top: 0;
	margin-bottom: 12px;
}

.PersonView p {
	color: #fff;
	margin: 0 0 8px 0;
}
