.PersonEdit {
	background-color: #808080;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.PersonEdit h1 {
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.2;
	text-align: left;
	margin: 0 0 12px 0;
}

.PersonEdit label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.PersonEdit .PersonEditCheckboxLabel {
	flex-direction: row;
	align-items: center;
	gap: 8px;
}